* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5%;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 40px;
  height: 100vh;
  background: #00bf8f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: sans-serif;
}

::-moz-selection { /* Code for Firefox */
  background: transparent;
}
::selection {
  background: transparent;
 }

.main-container {
  padding: 30px;
  grid-column: 1/5;
  grid-row: 1/3;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  transition-property: background-color;
  transition: 0.5s;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  min-width: 620px;
  min-height: 250px;
}
.main-container:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.degree {
  color: #00bf8f;
  cursor: pointer;
  background: -webkit-linear-gradient(#DAE2F8, #D6A4A4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-property: background;
  transition-duration: 0.5s;
}
/* 
.degree:hover {
  background: -webkit-linear-gradient(#ED4264, #FFEDBC);
  -webkit-background-clip: text;
  transition: all 1s ease-in-out;
} */

.degree span {
  font-size: 3em;
}

.degree h2 {
  font-size: 6rem;
  display: inline-block;
 
}
.location-icon {
  width: 1.6em;
}
.temperature-description {
  font-size: 3rem;
}
.location-city-state h1 {
  display: inline-block;
  font-size: 2em;
}

#test {
 width: 10em;
 stroke: white;
 position: absolute;
 top: 30px;
 right: 30px;
}

.container {
  padding: 50px 30px 30px 30px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  overflow: hidden;
  transition-property: background-color;
  transition: 0.5s;
}
.container:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.wind-speed {
  grid-column: 5;
}

.wind-speed-animation{
  width: 1.5em;
}

.wind-speed-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.aqi-level {
  grid-column: 6;
}

.uv-index {
  grid-column: 7;
}

.humidity{
  grid-column: 8;
}

.sun-rise-set{
  grid-column: 5;
  grid-row: 2;
}

.pressure {
  grid-row: 2;
  grid-column: 6;
}

.visibility-distance{
  grid-row: 2;
  grid-column: 8;
}

.daily-weather-one {
  grid-column: 1/3;
}

.daily-weather-two {
  grid-column: 3/5;
}

.daily-weather-three {
  grid-column: 5/7;
}

.daily-weather-four {
  grid-column: 7/9;
}

.daily-icon {
  width: 5em;
  margin: auto;
}


.daily-container {
  padding: 30px 30px 30px 30px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  grid-row: 3/5;
  min-width: 150px;
  min-height: 270px;
  transition-property: background-color;
  transition: 0.5s;
}
.daily-container:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.high-low-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  line-height: 2em;
}

.container-header {
  text-align: center;
  position: absolute;
  height: 35px;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(11, 116, 89, 0.3);
}

.container-header h4 {
  margin-top: 7px;
}

.logo {
  position: absolute;
  bottom: 0;
  right: 0;
}
.logo path {
  fill: white;
}

.day-one-date,
.day-two-date,
.day-three-date,
.day-four-date,
.aqi-level-text,
.aqi-level-digit {
  display: flex;
  justify-content: center;
}

.day-one-des,
.day-two-des,
.day-three-des,
.day-four-des {
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 0.8em;
}
.rain-container {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.rain-one-icon,
.rain-two-icon,
.rain-three-icon,
.rain-four-icon {
  width: 1em;
  height: 1em;
  background-image: url("/assets/icons/umbrella.svg");
  margin-left: 1em;
}

.aqi-level-digit {
  font-size: 2em;
}

