* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5%;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 50px;
  height: 100vh;
  background: #00bf8f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: sans-serif;
}

.main-container {
  padding: 30px;
  grid-column: 1/3;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  transition-property: background-color;
  transition: 0.5s;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}
.main-container:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.degree {
  color: #00bf8f;
  cursor: pointer;
  background: -webkit-linear-gradient(#DAE2F8, #D6A4A4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-property: background;
  transition-duration: 0.5s;
}
/* 
.degree:hover {
  background: -webkit-linear-gradient(#ED4264, #FFEDBC);
  -webkit-background-clip: text;
  transition: all 1s ease-in-out;
} */

.degree span {
  font-size: 3em;
}

.degree h2 {
  font-size: 6rem;
  display: inline-block;
 
}
.location-icon {
  width: 1.6em;
}
.temperature-description {
  font-size: 3rem;
}
.location-city-state h1 {
  display: inline-block;
  font-size: 2em;
}

#test {
 width: 10em;
 stroke: white;
 position: absolute;
 top: 30px;
 right: 30px;
}

.container {
  padding: 50px 30px 30px 30px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  overflow: hidden;
}

.wind-speed {
  grid-column: 3;
}

.container-header {
  text-align: center;
  position: absolute;
  height: 35px;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(11, 116, 89, 0.3);
}

.container-header h3 {
  margin-top: 7px;
}
