* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background: #00bf8f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  font-family: sans-serif;
}

.location,
.temperature {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: 50%;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: 80%;
}

.temperature {
  flex-direction: column;
}

.degree {
  display: flex;
  align-items: center;
  color: #00bf8f;
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.5s;
}

.degree:hover {
  color: #4ff8ce;
}

.degree span {
  font-size: 2em;
}

.degree h2 {
  font-size: 6rem;
}

#test {
 width: 10em;
 stroke: white;
}